html {
    background: #d7d7d7;
}

.container {
    display: flex;
    gap: 40px;
}

img {
    position:sticky;
    top: 200px;
    height: auto;
    width:auto;
}

p {
    font-size: 1.4rem;
    line-height: 1.3;
}