* {
    padding: 0;
    margin: 0;
}

.container {
     display: flex;
     flex-direction: column;
     padding: 0 20px;
     gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;


    &__items {
        list-style: none;
        border: 1px solid #aeaeae;
        background: #f6f6f6;
        padding: 10px;
        font-size: 1.2rem;
    
        &:hover {
            background: #eee;
            cursor: pointer;
        }
    }
}

.search_bar {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/960px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position:10px center;
}