img {
    height:250px;
    width: 300px;
    animation: ease-in-out infinite 0.3s;
    cursor: pointer;

    &:hover {
        animation-name: shake-image;
    }
}

@keyframes shake-image {
    0% {
        transform: rotate(-1deg) translate(1px)
    }

    10% {
        transform: rotate(-2deg) translate(2px)
    }

    20% {
        transform: rotate(2deg) translate(-2px)
    }

    30% {
        transform: rotate(-2deg) translate(2px)
    }

    40% {
        transform: rotate(2deg) translate(0)
    }

    50% {
        transform: rotate(-2deg) translate(2px)
    }

    100% {
        transform: rotate(1deg) translate(1px)
    }
}