* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 640px;
    margin: auto;
}

.nav {
    background: #333;
    color: white;
}

.list {
    &__differ {
        display: flex;
        flex-wrap: wrap;
    }

    &__items {
        list-style: none;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background:#ddd;
            color: black;
        }

        &--modifier {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                background: transparent;
                color: white;
            }

            .logos {
                background: #04AA6D;
                padding: 11px;
                &:hover {
                    background:#ddd;
                    color: black;
                }
            }

            .menu-btn-differ {
                background: none;
                font-size: 18px;
            }            
        }
    }
}

.menu-btn {
    color: white;
    background: black;
    border: none;
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
   
    &:hover {
        background:#ddd;
        color: black;
    }

    &--differ {
        background: #333;
        font-size: 18px;
    }
}

.active {
    display: flex;
    justify-content: space-between;
}

.logo {
    background: #04AA6D;
    display: block;
    width: 100%;
    padding: 10px 0 10px 10px ;
    cursor: pointer;

    &:hover {
          background: #ddd;
          color: black;
    }
}

.hidden {
    display: none;
}


h1 {
    @extend p;
    font-size: 1.2rem;
}

p {
    color: white;
}

.content {
    padding: 10px;
    background: #555;
    line-height: 2;
}

.justify {
    justify-content: space-between;
}

.justify-none {
    justify-content:safe;
}