@mixin nav_items($bg , $cursor) {
    display: flex;
    background:$bg;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid silver;
    cursor:$cursor;
}

@mixin parametrs($weight) {
    width: 50%;
    font-weight: $weight;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#search {
    width: 100%;
    padding: 10px 30px;
    font-size: 1rem;
    border:1px solid rgb(162, 162, 162);
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/960px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 1rem;

    &::placeholder {
        color: rgb(141, 141, 141);
        font-size: 1rem;
    }
}

.navbar {
    display: flex;
    flex-direction: column;

    &__item {
        @include nav_items( #f1f1f1 , auto );
    }

    &__name  , &__country {
        @include parametrs(900)
    }
}

.data {
    display: flex;
    flex-direction: column;

    &__item {
        @include nav_items( none , pointer );

        &:hover {
            background:  #f1f1f1;
        }
    }

    &__name , &__country {
        @include parametrs(200)
    }
}