@mixin containers {
    height:30%;
    width: 20%;
    cursor: pointer;
    position: relative;
}

@mixin fades {
    display: flex;
    justify-content:center;
    position: absolute;
    height: 20%;
    width: 100%;
    color: white;
    font-size: 0.8vw;
    opacity: 0;
    font-weight: 100;
    transition: 0.2s ease-in opacity;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
}

.container {
    @include containers;

    &:hover {
        .fade-title {
            opacity: 1;
        }
    }
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

h1 , p {
    margin-bottom: 0;
}

.fade-title {
    @include fades;
}