.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    &__images {   
        height:auto;
        width:100%;
    }
}

// float:
@mixin floats($float-direction) {
    float: $float-direction;
    width: calc( 98% / 3);
    height: 30%;
}

.left {
    @include floats(left);
}

.right {
    @include floats(right);
}

.center {
    @include floats(none);
    margin-left: 1%;
}

.float-container{
    max-width: 1600px;
    margin: auto;
}


// flex
.flex-container {
    display: flex;
    gap: 1%;

    &__images {
        width: calc(99% / 3);
    }
}